div.completed {
	background-color: honeydew;
}

div input {
	border: none;
}

div.completed input {
	color: #d9d9d9;
	text-decoration: line-through;
	border: none;
}

div.completed input {
	content: url('https://www.google.com.co/imgres?imgurl=https%3A%2F%2Fstatic5.depositphotos.com%2F1029663%2F414%2Fi%2F950%2Fdepositphotos_4141227-stock-photo-ok-approved.jpg&imgrefurl=https%3A%2F%2Fmx.depositphotos.com%2F4141227%2Fstock-photo-ok-approved.html&docid=qXoaF5sCjUKkLM&tbnid=fhGByZO65G6JDM%3A&vet=10ahUKEwi-peWOyPLaAhWlxFkKHRUuBKsQMwhqKAMwAw..i&w=796&h=1023&bih=700&biw=1223&q=aprobado&ved=0ahUKEwi-peWOyPLaAhWlxFkKHRUuBKsQMwhqKAMwAw&iact=mrc&uact=8');
}
